In [1]:
import pandas as pd
import numpy as np

In [2]:
bikes = pd.read_csv(r'../data/df_1_year.csv')

In [3]:
bikes.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Year,Month,ride_length,Year-Month
0,0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member,2021,8,6.916667,2021-08-01 00:00:00
1,1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member,2021,8,16.166667,2021-08-01 00:00:00
2,2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member,2021,8,16.216667,2021-08-01 00:00:00
3,5,612F12C94A964F3E,electric_bike,2021-08-19 12:41:12,2021-08-19 12:47:47,NaN,NaN,NaN,NaN,41.81,-87.61,41.80,-87.60,member,2021,8,6.583333,2021-08-01 00:00:00
4,6,C7435946FDFFA9B7,electric_bike,2021-08-19 12:21:50,2021-08-19 12:37:31,NaN,NaN,NaN,NaN,41.77,-87.62,41.81,-87.61,member,2021,8,15.683333,2021-08-01 00:00:00

In [4]:
bikes.describe()

,Unnamed: 0,start_lat,start_lng,end_lat,end_lng,Year,Month,ride_length
count,3.235887e+06,3.235887e+06,3.235887e+06,3.235669e+06,3.235669e+06,3.235887e+06,3.235887e+06,3.235887e+06
mean,3.463536e+05,4.190135e+01,-8.764817e+01,4.190154e+01,-8.764835e+01,2.021525e+03,7.268139e+00,1.260825e+01
std,2.264062e+05,4.682097e-02,3.033355e-02,4.695840e-02,3.047241e-02,4.993954e-01,2.465169e+00,8.815981e+00
min,0.000000e+00,4.164000e+01,-8.784000e+01,4.160000e+01,-8.787000e+01,2.021000e+03,1.000000e+00,1.666667e-02
25%,1.491620e+05,4.188169e+01,-8.766358e+01,4.188169e+01,-8.766371e+01,2.021000e+03,6.000000e+00,5.916667e+00
50%,3.189830e+05,4.190000e+01,-8.764414e+01,4.190022e+01,-8.764414e+01,2.022000e+03,7.000000e+00,1.023333e+01
75%,5.355470e+05,4.193000e+01,-8.762979e+01,4.193000e+01,-8.762979e+01,2.022000e+03,9.000000e+00,1.726667e+01
max,8.234870e+05,4.207000e+01,-8.752000e+01,4.211000e+01,-8.750000e+01,2.022000e+03,1.200000e+01,4.028333e+01

In [ ]:
bikes.shape

In [5]:
from pandas_profiling import ProfileReport
profile = ProfileReport(bikes, title='Bikes Profiling report', explorative = True)
profile

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]